{% extends "base.html" %}

{% block content %}
<h1>Detalhes da Tarefa</h1>
<p><strong>Projeto:</strong> {{ task.title }}</p>
<p><strong>Descrição:</strong> {{ task.description }}</p>
<p><strong>Status:</strong>
    
    {% if task.status == 'P' %}
        Pendente
    {% elif task.status == 'A' %}
        Em Andamento
    {% elif task.status == 'C' %}
        Concluido
    {% endif %}
</p>
<p><strong>Data de criação:</strong> {{ task.created_at|date:"d/m/Y H:i" }}</p>
<p><strong>Data de Entrega:</strong> {{ task.due_date|date:"d/m/Y" }}</p>
<a href="{% url 'task-list' %}" class="btn btn-secondary">Voltar à Lista</a>

{% endblock content %}